:root {
  --navbarColor: #ffffff;
  --bgColor: #ffffff;
  --textColor: #000000;
  --toggleButton: rgb(221, 221, 221);
}

.dark {
  --navbarColor: #000000;
  --bgColor: #1d1d1d;
  --textColor: #ffffff;
  --toggleButton: #1d1d1d;
}

body {
  background-color: var(--bgColor);
  transition: background-color 0.2s;
  min-width: 100vw;
  min-height: 100vh;
  color: var(--textColor);
}

a {
  text-decoration: none;
  color: inherit;
  display: flex;
}
