@import "../../styles/mixins.scss";

table {
  width: 90%;

  border-collapse: collapse;
}

th {
  text-align: left;
  cursor: pointer;
}

tr {
  width: 100%;
  height: 50px;
  border-bottom: 0.5px solid white;
}

.table {
  @include flex(center, center);
  flex-direction: column;
}

.table-row:hover {
  background-color: rgba(224, 224, 224, 0.3);
}
